<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CapacitacionWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ewsmSoap"
                         maxReceivedMessageSize="10485760"
                         maxBufferSize="10485760"
                         maxBufferPoolSize="10485760"
                         sendTimeout="00:05:00"    
                         receiveTimeout="00:05:00"> <!-- Aumenta el tiempo de espera a 5 minutos -->
                    <readerQuotas maxDepth="32"
                                  maxStringContentLength="10485760"
                                  maxArrayLength="10485760"        
                                  maxBytesPerRead="10485760"
                                  maxNameTableCharCount="10485760" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="ewsmSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://GSIC/ePowerWS/ewsm.asmx"
                      binding="basicHttpBinding"
                      bindingConfiguration="ewsmSoap"
                      contract="ePower.ewsmSoap"
                      name="ewsmSoap"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <CapacitacionWS.Properties.Settings>
            <setting name="RutaTrabajo" serializeAs="String">
                <value>C:\\Exportaciones\\</value>
            </setting>
        </CapacitacionWS.Properties.Settings>
    </userSettings>
</configuration>